<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- <package id="aPackage" /> -->
    <!-- <package id="anotherPackage" version="1.1" /> -->
    <!-- <package id="chocolateyTestPackage" version="0.1" source="someLocation" />-->
    <package id="babun" />
    <!-- <package id="hyper" /> -->
    <package id="which" />
    <package id="tree" />
    <package id="git" />
    <package id="googlechrome" />
    <package id="gitkraken" />
    <package id="miniconda3" />
    <package id="visualstudiocode" />
    <package id="visualstudiocode-insiders" />
    <package id="sublimetext3" />
    <package id="sublimetext3.packagecontrol" />
    <package id="docker-for-windows" />
    <package id="docker-compose" />
    <package id="qtcreator" />
    <package id="rdcman" />
    <package id="slack" />
    <package id="gitter" />
    <package id="telegram" />
    <package id="spotify" />
    <package id="1password" />
    <package id="wunderlist" />
  </packages>
</xml>
